.ic input {
  display: inline !important;
}
.domain {
  position: absolute;
  margin-left: -85px;
  margin-top: 29px;
}

@media (max-width: 600px) {
  .domain {
    position: absolute;
    margin-left: -87px;
    margin-top: 23px;
  }
}
